.pagenation {
  @apply flex justify-center items-center m-page;
}

ul {
  @apply flex justify-center list-none;
}

li {
  @apply w-10	h-10 rounded-page m-close bg-btncolor transition-all duration-100 text-black;
}

li :nth-child(1),
li :nth-child(2),
li :nth-last-child(1),
li :nth-last-child(2) {
  @apply align-baseline;
}

li a {
  @apply no-underline	 flex justify-center items-center w-full h-full text-asize;
}

li:hover {
  @apply bg-page;
}

.active {
  @apply bg-page;
}
